---
layout: default
---

<!-- <a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a> -->
<header>
    {% if site.theme_config.show_navbar == true %}
    <ul class="horizontal-list">
        {% for item in site.data.home.navbar_entries %}
            <li>
            <a href="{{ item.url }}">
                {{ item.title }}
            </a>
            &nbsp;&nbsp;
            </li>
        {% endfor %}
        <li>
            <a href="{{ page.url-jp }}">
            日本語
            </a>
            &nbsp;&nbsp;
            </li>
    </ul>
    <div class="dashed"></div>
    {% endif %}
</header>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}



{% if site.theme_config.show_footer == true %}
<footer>
<div class="dashed"></div>
{% include horizontal_list.html collection=site.data.home.footer_entries %}
</footer>
{% endif %}